name: Entrega P2

on:
  push:
    branches:
      - main
      - develop

jobs:
  # --- ETAPA 1: CI (Testes e Segurança) ---
  ci-security:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install Dependencies
        run: npm install

      - name: Run Tests
        continue-on-error: true
        run: npm test
        env:
          
          DB_HOST: "dpg-d4pm0p2dbo4c73bdd1og-a"
          DB_USER: "p2cicd_user"
          DB_PASSWORD: "4R10Cqjv5Uj2zIQiT3UNNarw1LyWHhAX"
          DB_NAME: "p2cicd"
          PORT: "3000"
          JWT_SECRET: "minha_senha_super_secreta_de_teste"

      - name: SAST Scan (SonarCloud)
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  # --- ETAPA 2: CD (Entrega e Deploy) ---
  cd-deploy:
    needs: ci-security
    # A linha abaixo garante que o deploy só ocorra na branch main
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/entrega-p2:${{ github.sha }}
            ${{ secrets.DOCKER_USERNAME }}/entrega-p2:latest

      - name: Deploy to Render
        run: curl -X POST ${{ secrets.RENDER_DEPLOY_HOOK }}